@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-delay-100 {
    animation-delay: 0.1s;
  }
  .animate-delay-200 {
    animation-delay: 0.2s;
  }
}

/* Suaviza os scrolls */
html {
  scroll-behavior: smooth;
}

/* Efeito de fade-in nas seções */
section {
  view-timeline-name: --section;
  animation-timeline: --section;
  animation-name: fadeIn;
  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
